.custom-modal {
    width: 400px;
    height: 200px;
    position: relative;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 20px;
  }
  
  .close-button {
    padding: 5px;
  }
  